<div class="container">
    <table>
        <thead>
            <tr>
                <td> Form No. </td>
                <td> Name </td>
                <td> Email </td>
                <td> Year </td>
                <td> Branch</td>
                <td> Mod of Payment</td>
                <td> Amount </td>
                <td> Approval Status </td>
                <td> Total Amount </td>
                <td> Fee Type </td>
                <td> Transfer Id </td>
                <td> Date </td>
                <td>Registration Date </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> Form No. </td>
                <td> Name </td>
                <td> Email </td>
                <td> Year </td>
                <td> Branch</td>
                <td> Mod of Payment</td>
                <td> Amount </td>
                <td> Approval Status </td>
                <td> Total Amount </td>
                <td> Fee Type </td>
                <td> Transfer Id </td>
                <td> Date </td>
                <td>Registration Date </td>
            </tr>
        </tbody>
    </table>
</div>