version: '3'

services:
  db:
    image: postgres:11-alpine
  api:
    build: api/.
    command: python api/manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db
  app:
    build:
      context: data-center/.
    volumes:
      - .:/code
    ports:
      - "3000:3000"
    command: npm start
