.w-25 {
    width: 25% !important;
}

.w-18 {
    width: 18% !important;
}

.w-20 {
    width: 20% !important;
}

.form-group {
    margin-bottom: 0;
}

.table th,
.table td {
    vertical-align: inherit;
}
