<div class="container my-5">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th class="text-success center" colspan="16">
                    Basic Details
                </th>
            </tr>
            <tr>
                <th colspan="4">Roll No</th>
                <td colspan="10">
                    <input type="text" class="form-control" [(ngModel)]="data.basic.roll_no">
                </td>
                <td colspan="2" rowspan="5" class="w-25">
                    <img class="img-fluid" style="width: -webkit-fill-available;"
                        [src]="data.basic.image" alt="user image">
                </td>
            </tr>
            <tr>
                <th colspan="4" class="w-18">Name</th>
                <td colspan="10">
                    <input type="text" class="form-control" [(ngModel)]="data.basic.name">
                </td>
            </tr>
            <tr>
                <th colspan="4">Father Name</th>
                <td colspan="10">
                    <input type="text" class="form-control" [(ngModel)]="data.basic.father_name">
                </td>
            </tr>
            <tr>
                <th colspan="4">Mother Name</th>
                <td colspan="10">
                    <input type="text" class="form-control" [(ngModel)]="data.basic.mother_name">
                </td>
            </tr>
            <tr>
                <th colspan="4">Address</th>
                <td colspan="6">
                    <input type="text" class="form-control" [(ngModel)]="data.basic.address">
                </td>
            </tr>
            <tr>
                <th colspan="4">Date of Birth</th>
                <td colspan="10">
                    <input type="date" class="form-control" [(ngModel)]="data.basic.dob">
                </td>
                <td>
                    <input type="file" name="image" (change)="onUpload($event)"/>
                </td>
            </tr>
            <tr>
                <th colspan="16" class="center text-success">
                    Other Details
                </th>
            </tr>
            <tr>
                <th colspan="2">year</th>
                <td colspan="6">
                    <input type="text" class="form-control" [(ngModel)]="data.basic.year">
                </td>
                <th colspan="2" class="w-20">Branch</th>
                <td colspan="6">
                    <select *ngIf="optionsData?.branch" class="form-control" [(ngModel)]="data.basic.branch">
                        <option *ngFor="let key of objectKeys(optionsData.branch)" [value]="key">
                            {{ optionsData.branch[key] }}
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <th colspan="2">Gender</th>
                <td colspan="6">
                    <select *ngIf="optionsData?.gender" class="form-control" [(ngModel)]="data.basic.gender">
                        <option *ngFor="let key of objectKeys(optionsData.gender)" [value]="key">
                            {{ optionsData.gender[key] }}
                        </option>
                    </select>
                </td>
                <th colspan="2">Category</th>
                <td colspan="6">
                    <select *ngIf="optionsData?.category" class="form-control" [(ngModel)]="data.basic.category">
                        <option *ngFor="let key of objectKeys(optionsData.category)" [value]="key">
                            {{ optionsData.category[key] }}
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <th colspan="2">Sub Category</th>
                <td colspan="6">
                    <input type="text" class="form-control" [(ngModel)]="data.basic.sub_category">
                </td>
                <th colspan="2">Mobile No</th>
                <td colspan="6">
                    <input type="text" class="form-control" [(ngModel)]="data.basic.mobile_no">
                </td>
            </tr>
            <tr>
                <th colspan="2">Father Mobile No</th>
                <td colspan="6">
                    <input type="text" class="form-control" [(ngModel)]="data.basic.father_mobile_no">
                </td>
                <th colspan="2">Mother Mobile No</th>
                <td colspan="6">
                    <input type="text" class="form-control" [(ngModel)]="data.basic.mother_mobile_no">
                </td>
            </tr>
            <tr>
                <th colspan="2">Email Id</th>
                <td colspan="6">
                    <input type="text" class="form-control" [(ngModel)]="data.basic.email">
                </td>
                <th colspan="2">Addhar No</th>
                <td colspan="6">
                    <input type="text" class="form-control" [(ngModel)]="data.basic.addhar_no">
                </td>
            </tr>
            <tr>
                <th colspan="2">Mode of Admission</th>
                <td colspan="6">
                    <select *ngIf="optionsData?.mode_of_admission" class="form-control"
                        [(ngModel)]="data.basic.mode_of_admission">
                        <option *ngFor="let key of objectKeys(optionsData.mode_of_admission)" [value]="key">
                            {{ optionsData.mode_of_admission[key] }}
                        </option>
                    </select>
                </td>
                <th colspan="2">Admission Category</th>
                <td colspan="6">
                    <select *ngIf="optionsData?.admission_category" class="form-control"
                        [(ngModel)]="data.basic.mode_of_admission_category">
                        <option *ngFor="let key of objectKeys(optionsData.admission_category)" [value]="key">
                            {{ optionsData.admission_category[key] }}
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <th colspan="16" class="text-success center">
                    Academic Details
                </th>
            </tr>
            <tr>
                <th colspan="4">Type</th>
                <th colspan="6">Bord</th>
                <th colspan="6">Marks</th>
            </tr>
            <tr *ngFor="let item of data.academics">
                <th colspan="4">{{ item.text }}</th>
                <td colspan="6">
                    <input [(ngModel)]="item.board" type="text" class="form-control">
                </td>
                <td colspan="6">
                    <input [(ngModel)]="item.marks" type="text" class="form-control">
                </td>
            </tr>
            <tr>
                <th colspan="16" class="text-success center">
                    Semester Details
                </th>
            </tr>
            <tr>
                <td colspan="16">
                    <table>
                        <tbody>
                            <tr>
                                <th>#</th>
                                <th *ngFor="let semester of data.semesters">
                                    Semester-{{ semester.semester }}
                                </th>
                            </tr>
                            <tr>
                                <th>Your Marks</th>
                                <td *ngFor="let semester of data.semesters">
                                    <input [(ngModel)]="semester.marks" type="text" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <th>Total Marks</th>
                                <td *ngFor="let semester of data.semesters">
                                    <input [(ngModel)]="semester.total_marks" type="text" class="form-control">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <th colspan="16" class="center text-success">
                    Fee Details
                </th>
            </tr>
            <tr>
                <th colspan="4">Year</th>
                <td colspan="4">
                    <select *ngIf="optionsData?.year" class="form-control" [(ngModel)]="data.fee.year">
                        <option *ngFor="let key of optionsData.year" [value]="key">
                            {{ key }}
                        </option>
                    </select>
                </td>
                <th colspan="2" class="w-20">Branch</th>
                <td colspan="6">
                    <select *ngIf="optionsData?.branch" class="form-control" [(ngModel)]="data.fee.branch">
                        <option *ngFor="let key of objectKeys(optionsData.branch)" [value]="key">
                            {{ optionsData.branch[key] }}
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <th colspan="4">Mode of Payment</th>
                <td colspan="4">
                    <div class="form-row">
                        <div [ngClass]="{
                            'form-group col-md-12': data.fee.mode_of_payment!='CHALLAN',
                            'form-group col-md-5': data.fee.mode_of_payment=='CHALLAN'}">
                            <select *ngIf="optionsData?.mode_of_payment" class="form-control"
                                [(ngModel)]="data.fee.mode_of_payment">
                                <option *ngFor="let key of objectKeys(optionsData.mode_of_payment)" [value]="key">
                                    {{ optionsData.mode_of_payment[key] }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-md-7" *ngIf="data.fee.mode_of_payment=='CHALLAN'">
                            <input [(ngModel)]="data.fee.challan_no" type="text" class="form-control"
                                placeholder="Challan no">
                        </div>
                    </div>
                </td>
                <th colspan="4">Amount</th>
                <td colspan="4">
                    <input [(ngModel)]="data.fee.amount" type="text" class="form-control">
                </td>
            </tr>
            <tr>
                <th colspan="4">Fee Type</th>
                <td colspan="4">
                    <select *ngIf="optionsData?.fee_type" class="form-control" [(ngModel)]="data.fee.fee_type">
                        <option *ngFor="let key of objectKeys(optionsData.fee_type)" [value]="key">
                            {{ optionsData.fee_type[key] }}
                        </option>
                    </select>
                </td>
                <th colspan="2">Total Fee</th>
                <td colspan="6">
                    <input [(ngModel)]="data.fee.amount" type="text" class="form-control"> 
                </td>
            </tr>
            <tr>
                <th colspan="4">Transfer Id</th>
                <td colspan="4">
                    <input [(ngModel)]="data.fee.transfer_id" type="text" class="form-control">
                </td>
                <th colspan="4">Date</th>
                <td colspan="4">
                    <input [(ngModel)]="data.fee.date" type="date" class="form-control">
                </td>
            </tr>
        </tbody>
    </table>
    <div class="center">
        <button (click)="onSumitForm()" class="btn btn-primary">
            <b class="mx-5">Submit</b>
        </button>
    </div>
</div>
